server {
    listen ${PORT};
    listen [::]:${PORT};
    server_name _;

    root /usr/share/nginx/html;
    index inicio.html index.html;

    # Eu deixo o Nginx servir os arquivos estaticos diretamente.

    location = /favicon.ico {
        log_not_found off;
        access_log off;
    }

    location / {
        try_files $uri $uri/ /inicio.html =404;
    }
}
